.join-screen-container {
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.join-screen-container button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.join-screen-container span {
  color: floralwhite;
  
}

.control-buttons-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: black;
  width: 100%;
}

.user-placeholder-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.user-placeholder-wrapper div{
  margin-top: 16px;
  color: floralwhite;
}

.host-placeholder-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.host-placeholder-wrapper span{
  color: floralwhite;
}


.user-placeholder {
  font-size: 64px;
  color: floralwhite;
  color: white;
}

.main-container {
  position: relative;
}

.call {
  text-align: center;
}


.control-button {
  margin-top: 4px;
  padding: 12px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  color: floralwhite;
  margin-left: 8px;
  margin-right: 8px;
}

.bg-red {
  background-color: red;
}

.bg-cyan {
  background-color: cyan;
}

.bg-grey {
  background-color: #202124;
}

.player-container {
  padding: 20px;
  text-align: initial;
}

.button-group {
  padding: 20px;
}


.call-form {
  padding: 20px;
}

input, button {
  margin-right: 10px;
}